#HTML_1 {
    block-size: 931.875px;
    height: 931.875px;
    inline-size: 1358px;
    perspective-origin: 679px 465.938px;
    transform-origin: 679px 465.938px;
    width: 1358px;
    font: 16px "Times New Roman";
}/*#HTML_1*/

#HTML_1:after {
    font: 16px "Times New Roman";
}/*#HTML_1:after*/

#HTML_1:before {
    font: 16px "Times New Roman";
}/*#HTML_1:before*/

#HEAD_2, #META_3, #META_5, #META_7, #LINK_9, #STYLE_11 {
    font: 16px "Times New Roman";
}/*#HEAD_2, #META_3, #META_5, #META_7, #LINK_9, #STYLE_11*/

#HEAD_2:after, #META_3:after, #META_5:after, #META_7:after, #LINK_9:after, #STYLE_11:after {
    font: 16px "Times New Roman";
}/*#HEAD_2:after, #META_3:after, #META_5:after, #META_7:after, #LINK_9:after, #STYLE_11:after*/

#HEAD_2:before, #META_3:before, #META_5:before, #META_7:before, #LINK_9:before, #STYLE_11:before {
    font: 16px "Times New Roman";
}/*#HEAD_2:before, #META_3:before, #META_5:before, #META_7:before, #LINK_9:before, #STYLE_11:before*/

#TITLE_4, #META_6, #LINK_10 {
    font: 16px "Times New Roman";
}/*#TITLE_4, #META_6, #LINK_10*/

#TITLE_4:after, #META_6:after, #LINK_10:after {
    font: 16px "Times New Roman";
}/*#TITLE_4:after, #META_6:after, #LINK_10:after*/

#TITLE_4:before, #META_6:before, #LINK_10:before {
    font: 16px "Times New Roman";
}/*#TITLE_4:before, #META_6:before, #LINK_10:before*/

#META_8, #STYLE_12 {
    font: 16px "Times New Roman";
}/*#META_8, #STYLE_12*/

#META_8:after, #STYLE_12:after {
    font: 16px "Times New Roman";
}/*#META_8:after, #STYLE_12:after*/

#META_8:before, #STYLE_12:before {
    font: 16px "Times New Roman";
}/*#META_8:before, #STYLE_12:before*/

#BODY_13 {
    block-size: 744px;
    height: 744px;
    inline-size: 1342px;
    perspective-origin: 671px 372px;
    transform-origin: 671px 372px;
    width: 1342px;
    font: 16px arial, calibri, sans-serif;
}/*#BODY_13*/

#BODY_13:after {
    font: 16px arial, calibri, sans-serif;
}/*#BODY_13:after*/

#BODY_13:before {
    font: 16px arial, calibri, sans-serif;
}/*#BODY_13:before*/

#SPAN_14 {
    block-size: 0px;
    bottom: 929px;
    display: block;
    height: 0px;
    inline-size: 1358px;
    inset-block-end: 929px;
    inset-block-start: 0px;
    inset-inline-end: -8px;
    inset-inline-start: 8px;
    left: 8px;
    perspective-origin: 679px 0px;
    position: absolute;
    right: -8px;
    top: 0px;
    transform-origin: 679px 0px;
    width: 1358px;
    z-index: 2147483647;
    font: 16px arial, calibri, sans-serif;
    transition: all 0.5s ease 0s;
}/*#SPAN_14*/

#SPAN_14:after {
    font: 16px arial, calibri, sans-serif;
}/*#SPAN_14:after*/

#SPAN_14:before {
    font: 16px arial, calibri, sans-serif;
}/*#SPAN_14:before*/

#I_15 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: italic 16px arial, calibri, sans-serif;
}/*#I_15*/

#I_15:after {
    font: italic 16px arial, calibri, sans-serif;
}/*#I_15:after*/

#I_15:before {
    font: italic 16px arial, calibri, sans-serif;
}/*#I_15:before*/

#DIV_16 {
    block-size: 744px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 13px 0px;
    height: 744px;
    inline-size: 671px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 93.9375px;
    margin-block-start: 93.9375px;
    margin-inline-end: 335.5px;
    margin-inline-start: 335.5px;
    perspective-origin: 335.5px 372px;
    position: relative;
    right: 0px;
    top: 0px;
    transform-origin: 335.5px 372px;
    width: 671px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: 16px arial, calibri, sans-serif;
    margin: 93.9375px 335.5px;
}/*#DIV_16*/

#DIV_16:after {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_16:after*/

#DIV_16:before {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_16:before*/

#IMG_17 {
    block-size: 70px;
    bottom: 0px;
    height: 70px;
    inline-size: 223.219px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 50px;
    padding-block-end: 15px;
    padding-block-start: 15px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 126.609px 50px;
    position: relative;
    right: 0px;
    top: 0px;
    transform-origin: 126.609px 50px;
    width: 223.219px;
    font: 16px arial, calibri, sans-serif;
    margin: 0px 0px 50px;
    padding: 15px;
}/*#IMG_17*/

#IMG_17:after {
    font: 16px arial, calibri, sans-serif;
}/*#IMG_17:after*/

#IMG_17:before {
    font: 16px arial, calibri, sans-serif;
}/*#IMG_17:before*/

#IMG_18 {
    block-size: 100px;
    bottom: 644px;
    display: block;
    height: 100px;
    inline-size: 99.4062px;
    inset-block-end: 644px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 571.594px;
    left: 571.594px;
    perspective-origin: 49.7031px 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform-origin: 49.7031px 50px;
    width: 99.4062px;
    font: 16px arial, calibri, sans-serif;
}/*#IMG_18*/

#IMG_18:after {
    font: 16px arial, calibri, sans-serif;
}/*#IMG_18:after*/

#IMG_18:before {
    font: 16px arial, calibri, sans-serif;
}/*#IMG_18:before*/

#DIV_19 {
    block-size: 0px;
    height: 0px;
    inline-size: 671px;
    perspective-origin: 335.5px 0px;
    transform-origin: 335.5px 0px;
    width: 671px;
    font: 16px arial, calibri, sans-serif;
}/*#DIV_19*/

#DIV_19:after {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_19:after*/

#DIV_19:before {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_19:before*/

#DIV_20 {
    block-size: 490px;
    height: 490px;
    inline-size: 571px;
    padding-block-end: 50px;
    padding-block-start: 50px;
    padding-inline-end: 50px;
    padding-inline-start: 50px;
    perspective-origin: 335.5px 295px;
    transform-origin: 335.5px 295px;
    width: 571px;
    font: 16px arial, calibri, sans-serif;
    padding: 50px;
}/*#DIV_20*/

#DIV_20:after {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_20:after*/

#DIV_20:before {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_20:before*/

#P_21 {
    block-size: 180px;
    border-block-end-color: rgb(76, 175, 80);
    border-block-start-color: rgb(76, 175, 80);
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    border-inline-end-color: rgb(76, 175, 80);
    border-inline-start-color: rgb(76, 175, 80);
    border-inline-start-style: solid;
    border-inline-start-width: 60px;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    bottom: 0px;
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    height: 180px;
    inline-size: 466px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 40px;
    margin-block-start: 0px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 30px;
    padding-inline-start: 15px;
    perspective-origin: 285.5px 110px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    top: 0px;
    transform-origin: 285.5px 110px;
    width: 466px;
    background: rgb(194, 234, 196) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(76, 175, 80);
    border-right: 0px none rgb(76, 175, 80);
    border-bottom: 0px none rgb(76, 175, 80);
    border-left: 60px solid rgb(76, 175, 80);
    border-radius: 5px;
    font: 16px / 30px arial, calibri, sans-serif;
    margin: 0px 0px 40px;
    outline: rgb(23, 97, 26) none 0px;
    padding: 20px 30px 20px 15px;
}/*#P_21*/

#P_21:after {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#P_21:after*/

#P_21:before {
    block-size: 38px;
    border-block-end-color: rgb(240, 253, 240);
    border-block-start-color: rgb(240, 253, 240);
    border-inline-end-color: rgb(240, 253, 240);
    border-inline-start-color: rgb(240, 253, 240);
    bottom: 173px;
    caret-color: rgb(240, 253, 240);
    color: rgb(240, 253, 240);
    column-rule-color: rgb(240, 253, 240);
    content: '""';
    display: block;
    height: 38px;
    inline-size: 38px;
    inset-block-end: 173px;
    inset-block-start: 9px;
    inset-inline-end: 522px;
    inset-inline-start: -49px;
    left: -49px;
    perspective-origin: 19px 19px;
    position: absolute;
    right: 522px;
    text-decoration: none solid rgb(240, 253, 240);
    text-emphasis-color: rgb(240, 253, 240);
    top: 9px;
    transform-origin: 19px 19px;
    width: 38px;
    border: 0px none rgb(240, 253, 240);
    font: 38px / 38px FontAwesome;
    outline: rgb(240, 253, 240) none 0px;
}/*#P_21:before*/

#BR_22, #BR_23, #BR_26 {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    transform-origin: 0px 0px;
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_22, #BR_23, #BR_26*/

#BR_22:after, #BR_23:after, #BR_26:after {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_22:after, #BR_23:after, #BR_26:after*/

#BR_22:before, #BR_23:before, #BR_26:before {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_22:before, #BR_23:before, #BR_26:before*/

#DIV_24, #DIV_28 {
    block-size: 0px;
    height: 0px;
    inline-size: 571px;
    perspective-origin: 285.5px 0px;
    transform-origin: 285.5px 0px;
    width: 571px;
    font: 16px arial, calibri, sans-serif;
}/*#DIV_24, #DIV_28*/

#DIV_24:after, #DIV_28:after {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_24:after, #DIV_28:after*/

#DIV_24:before, #DIV_28:before {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_24:before, #DIV_28:before*/

#P_25 {
    block-size: 150px;
    border-block-end-color: rgb(76, 175, 80);
    border-block-start-color: rgb(76, 175, 80);
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    border-inline-end-color: rgb(76, 175, 80);
    border-inline-start-color: rgb(76, 175, 80);
    border-inline-start-style: solid;
    border-inline-start-width: 60px;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    bottom: 0px;
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    height: 150px;
    inline-size: 466px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 40px;
    margin-block-start: 0px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 30px;
    padding-inline-start: 15px;
    perspective-origin: 285.5px 95px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    top: 0px;
    transform-origin: 285.5px 95px;
    width: 466px;
    background: rgb(194, 234, 196) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(76, 175, 80);
    border-right: 0px none rgb(76, 175, 80);
    border-bottom: 0px none rgb(76, 175, 80);
    border-left: 60px solid rgb(76, 175, 80);
    border-radius: 5px;
    font: 16px / 30px arial, calibri, sans-serif;
    margin: 0px 0px 40px;
    outline: rgb(23, 97, 26) none 0px;
    padding: 20px 30px 20px 15px;
}/*#P_25*/

#P_25:after {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#P_25:after*/

#P_25:before {
    block-size: 38px;
    border-block-end-color: rgb(240, 253, 240);
    border-block-start-color: rgb(240, 253, 240);
    border-inline-end-color: rgb(240, 253, 240);
    border-inline-start-color: rgb(240, 253, 240);
    bottom: 143px;
    caret-color: rgb(240, 253, 240);
    color: rgb(240, 253, 240);
    column-rule-color: rgb(240, 253, 240);
    content: '""';
    display: block;
    height: 38px;
    inline-size: 38px;
    inset-block-end: 143px;
    inset-block-start: 9px;
    inset-inline-end: 522px;
    inset-inline-start: -49px;
    left: -49px;
    perspective-origin: 19px 19px;
    position: absolute;
    right: 522px;
    text-decoration: none solid rgb(240, 253, 240);
    text-emphasis-color: rgb(240, 253, 240);
    top: 9px;
    transform-origin: 19px 19px;
    width: 38px;
    border: 0px none rgb(240, 253, 240);
    font: 38px / 38px FontAwesome;
    outline: rgb(240, 253, 240) none 0px;
}/*#P_25:before*/

#BR_27 {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    transform-origin: 0px 0px;
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_27*/

#BR_27:after {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_27:after*/

#BR_27:before {
    border-block-end-color: rgb(23, 97, 26);
    border-block-start-color: rgb(23, 97, 26);
    border-inline-end-color: rgb(23, 97, 26);
    border-inline-start-color: rgb(23, 97, 26);
    caret-color: rgb(23, 97, 26);
    color: rgb(23, 97, 26);
    column-rule-color: rgb(23, 97, 26);
    text-decoration: none solid rgb(23, 97, 26);
    text-emphasis-color: rgb(23, 97, 26);
    border: 0px none rgb(23, 97, 26);
    font: 16px / 30px arial, calibri, sans-serif;
    outline: rgb(23, 97, 26) none 0px;
}/*#BR_27:before*/

#DIV_29 {
    block-size: 0px;
    height: 0px;
    inline-size: 571px;
    perspective-origin: 285.5px 0px;
    transform-origin: 285.5px 0px;
    width: 571px;
    font: 16px arial, calibri, sans-serif;
}/*#DIV_29*/

#DIV_29:after {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_29:after*/

#DIV_29:before {
    font: 16px arial, calibri, sans-serif;
}/*#DIV_29:before*/

#DIV_30 {
    block-size: 929px;
    bottom: 0px;
    height: 929px;
    inline-size: 2px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 1356px;
    left: 1356px;
    perspective-origin: 1px 464.5px;
    position: fixed;
    right: 0px;
    top: 0px;
    transform-origin: 1px 464.5px;
    user-select: none;
    width: 2px;
    z-index: 2147483647;
    font: 16px "Times New Roman";
}/*#DIV_30*/

#DIV_30:after {
    user-select: none;
    font: 16px "Times New Roman";
}/*#DIV_30:after*/

#DIV_30:before {
    user-select: none;
    font: 16px "Times New Roman";
}/*#DIV_30:before*/

#DIV_31 {
    block-size: 0px;
    height: 0px;
    inline-size: 2px;
    perspective-origin: 1px 0px;
    transform-origin: 1px 0px;
    user-select: none;
    width: 2px;
    font: 16px "Times New Roman";
}/*#DIV_31*/

#DIV_31:after {
    user-select: none;
    font: 16px "Times New Roman";
}/*#DIV_31:after*/

#DIV_31:before {
    user-select: none;
    font: 16px "Times New Roman";
}/*#DIV_31:before*/

#GRAMMARLY-DESKTOP-INTEGRATION_32 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: 16px "Times New Roman";
}/*#GRAMMARLY-DESKTOP-INTEGRATION_32*/

#GRAMMARLY-DESKTOP-INTEGRATION_32:after {
    font: 16px "Times New Roman";
}/*#GRAMMARLY-DESKTOP-INTEGRATION_32:after*/

#GRAMMARLY-DESKTOP-INTEGRATION_32:before {
    font: 16px "Times New Roman";
}/*#GRAMMARLY-DESKTOP-INTEGRATION_32:before*/

